*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {font-size: 3.5em;}
h2 {font-size: 2.7em;}
h3 {font-size: 2em;}
h4 {font-size: 1.5em;}
p {font-size: 1.25em;}
ul {list-style: none;}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(164, 158, 166);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(248, 242, 242);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
     )   
    ,url("imagenes/Tablero_Control.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#Somos .container{
    text-align: center;
    padding: 150px 12px;
    background-color: 80vh;
}

#Nosotros{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#Nosotros .container{
    padding: 100px 0px;
}

#Nosotros h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Nosotros .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Tablero_4.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Proteccion.jpeg");

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/Tablero_2.jpeg");
}

#Servicios .container {
    height: auto;
    text-align: center;
    padding: 200px 0px;
}

#Servicios li{
    margin: 16px 0px;
    font-weight: bold;
}

#Contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 40vh;
}

#Contactos h2{
    font-size: 3em;
}

#Contactos h4{
    font-size: 1.2em;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 10px;
    color: rgb(100,100,100);
}

footer .container{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row; 
        padding-bottom: 0;
        padding-right: 20px;
    }

#Somos .container{
    display: flex;
    justify-content: center;
}

#Somos .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Somos h2{
    margin-top: 0px;
}

#Somos .img-container{
    background-image: url("imagenes/instalaciones-electricas.png");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
} 

#Nosotros .nosotross{
    display: flex;
    justify-content: center;
}

#Nosotros p{
    display: block;
    margin-bottom: 30px;
}

#Nosotros h3{
    margin-top: 0;
}

#Nosotros .carta{
    padding: 50px;
 }

 #Servicios{
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(100vw - 500px) 120px;

 }

 #Servicios .container{
    text-align: initial;
 }

 #Servicios ul{
  margin-left: 80px;  
 }

 #Contactos h2 {
    font-size: 3.5em;
 }

 #Contactos h4 {
    font-size: 1.2em;
 }

 footer .container{
    justify-content: flex-end;
 }

}